/*This is copied from ionic.css*/

async-toggle {
    position: relative;
    display: inline-block;
    pointer-events: auto;
    margin: -5px;
    padding: 5px;
}
.async-toggle-on .track {
    border-color: #4cd964;
    background-color: #4cd964;
}
.async-toggle.dragging .handle {
    background-color: #f2f2f2 !important;
}


/* the track appearance when the toggle is "off" */
.async-toggle .track {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color, border;
    transition-property: background-color, border;
    display: inline-block;
    box-sizing: border-box;
    width: 51px;
    height: 31px;
    border: solid 2px #e6e6e6;
    border-radius: 20px;
    background-color: #fff;
    content: ' ';
    cursor: pointer;
    pointer-events: none;
}

/* Fix to avoid background color bleeding */
/* (occurred on (at least) Android 4.2, Asus MeMO Pad HD7 ME173X) */
.platform-android4_2 .async-toggle .track {
    -webkit-background-clip: padding-box;
}

.async-toggle-on .track {
    border-color: #33cd5f;
    background-color: #33cd5f;
}

.async-toggle-working .track {
    border-color: #8ddaa3;
    background-color: #99e6af;
}


/* the handle (circle) thats inside the toggle's track area */
/* also the handle's appearance when it is "off" */
.async-toggle .handle {
    -webkit-transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1);
    transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1);
    -webkit-transition-property: background-color, transform;
    transition-property: background-color, transform;
    position: absolute;
    display: block;
    width: 27px;
    height: 27px;
    border-radius: 27px;
    background-color: #fff;
    top: 7px;
    left: 7px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15);
}
.async-toggle .handle:before {
    position: absolute;
    top: -4px;
    left: -21.5px;
    padding: 18.5px 34px;
    content: " ";
}

.async-toggle-on .handle {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
}

.async-toggle-working .handle {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
}