

:root {
    --app-colour-primary: #33cd5f;
    --app-colour-primary-grey: #99e6af;
    --app-colour-secondary: #28a54c;
    --app-colour-tertiary: #4cd964;
    
    --app-colour-text-contrast: #fff;
}