.bar-header{
    border-width: 0;
}

.bar{
    background-image: none;
    background-position: none;
    background-size: 0;
}

.bar .title{
    margin: 0 20px !important;
}

.side-menu{
    /*Below nav bar(9), but above tabs(5)*/
    z-index: 8;
    width: 300px;
    left:-275px;
    height:100%;
    position:absolute;
}

.side-menu-list{
    width: 275px;
    height:100%;
    background-color: white;
}

.side-menu-list .item{
    margin-left: 0;
    margin-right: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.side-menu-footer{
    position:absolute;
    height:60px;
/*    I don't know why 40px works. Maybe a margin thing?*/
    bottom: 40px;
    width:100%;
    background-color: #AAAAAA;
}

.side-menu-footer-item{
    font-size: 60px;
    height:100%;
    width:25%;
    text-align: center;
    float:left;
}

.tab-item{
    border-width: 0 !important;
    background-color:#2cb553 !important;
}

.tabs-striped.tabs-balanced .tabs{
    border-width: 0 !important;
    background-color:#2cb553 !important;
}

.tab-item.tab-item-active {
    margin-top: 0 !important;
    background-color:#33cd5f !important;
}

.tabs-loading{
    width:100%;
}


.tab-nav {
    border-width: 0 !important;
}