/*Ionic switches this off for some reason*/
em,i{
    font-style:italic;
}

q:before,
q:after {
 content: "\"";
}

a {
    color: black;
    text-decoration: none;
    /* no underline */
}

.cloak{
    display: none !important;
    opacity: 0;
}


/*before the background image loads, this is visible*/

ion-nav-view {
    background-color: white;
}

.platform-android ion-nav-view {
    background: url(/android_asset/www/img/BG1.jpg);
}

.platform-browser ion-nav-view {
    background: url(/img/BG1.jpg);
}

.pane {
    background-color: transparent;
}

.leaflet-popup-content{
    margin-left: 11px;
    margin-top: 3px;
    margin-bottom: 3px;
    /* needs to be big enough to accomodate the X button*/
    margin-right:18px;
    max-width:215px;
}

.info-window {
    max-width: 205px !important;
    max-height: 100px;
    align-content: center;
    overflow: hidden;
}

.info-window h6 {
    margin: 2px !important;
}

.info-window p {
    margin: 2px !important;
}

.info-window-spinner {
    align-self: center !important;
}

.media-button {
    font-size: 30px !important;
}

.media-content {
    padding-left: 7px;
    padding-right: 7px;
}

.popover {
    height: auto !important;
    width: 70% !important;
}

.popover ion-header-bar {
    position: relative;
}

.popover ion-content {
    top: 0;
    position: relative;
}

/*
.popover-backdrop.active{
    pointer-events: none;
}
*/

overscroll-pane {
    background-color: transparent !important;
    height: 100%;
}

.transparent {
    background: transparent !important;
}

.bumpdown {
    padding-top: 45%;
    margin-bottom: 0%;
}

.display-card {
    border-radius: 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #EEEEEE;
    padding: 10px;
    box-shadow: 0px 2px 10px #111111;
}


/*Makes sure content floats correctly*/

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.list-item-div {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2.5px;
}

.list-item-div + .list-item-div {
    padding-top: 2.5px;
    border-top-color: silver;
    border-top-width: 1px;
    border-style: solid;
}

.list-item-indent{
    margin-left:12px;
    padding-right:0px !important;
}

.greyout{
    color:silver;
}

.italic{
    font-style: italic !important;
}

.centered-list-item {
    text-align: center;
}

.error-icon {
    color: firebrick;
    font-size: 32px;
}

.filter-icon {
    padding-left: 6px;
    padding-right: 6px;
}

.filter-bar {
    margin-bottom: 5px;
    padding: 0px 0px 0px 5px !important;
}

.list-item-title {
    margin-top: 4px;
    font-size: 12px;
    color: #222;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-item-subtitle {
    font-size: 10px;
    line-height: 13px;
    max-height: 44px;
    margin-top: 3px;
    color: #626262;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-item-distance {
    font-size: 10px;
    color: #626262;
    float: right;
}

.list-item-thumb {
    object-fit: cover;
    width: 60px;
    height: 60px;
    margin: 4px 4px 4px 0px;
}

.gallery-thumb {
    object-fit: cover;
    width: 80px;
    max-height: 60px;
    margin: 4px 4px 4px 4px;
}

.up-next-button-row {
    font-size: 12px;
    color: #626262;
    padding-top: 4px;
}

.pin-image {
    padding-right: 6px;
    padding-top: 4px;
    height: 32px;
}

.audio-button {
    float: right;
    margin-right: 7px;
    margin-left: 7px;
}

.description-title {
/*  TODO: unneeded?*/
    float: left;
}

.zoom-scroll {
    height: 100%;
}

.zoom-scroll .scroll {
    min-height: 100% !important;
    align-items: center;
    background-color: transparent;
}

.image-modal {
    height: 100%;
}

.modal-close {
    position: absolute;
    right: 0;
    /*Make this clickable*/
    z-index: 30;
    color: darkgray;
    font-size: 32px;
}

.fullscreen-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.image-modal-text {
    color: darkgray;
    position: absolute;
    bottom: 0;
}

.image-modal-text .image-title {
    font-size: 14px;
}

.image-modal-text .image-description {
    font-size: 10px;
    line-height: 13px;
}