/* Empty. Add your own CSS if you like */
overscroll-pane{
  background-color: transparent !important;
}


.transparent{
  background-color: transparent !important;
}

.bumpdown{
  margin-top: 45%;
}

.display-card{
  border-radius: 10px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:20px;
  padding-left: 10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:5px;
  background-color: #EEEEEE;
  box-shadow: 2px 2px 25px #111111;
}
