node_modules
.tmp
.sass-cache
coverage
platforms
*.swp
*.swo
*.log
*.DS_Store

literaryHalifax/www/lib/angular/
literaryHalifax/www/lib/angular-animate/
literaryHalifax/www/lib/angular-sanitize/
literaryHalifax/www/lib/angular-ui-router/
literaryHalifax/www/lib/angular-simple-logger/
literaryHalifax/www/lib/ionic/
literaryHalifax/www/lib/jQuery.dotdotdot/
literaryHalifax/www/lib/jquery/
literaryHalifax/www/lib/ng-lodash/
literaryHalifax/www/lib/ngCordova/
