node_modules
.tmp
.sass-cache
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store

lib/angular
lib/angular-animate
lib/angular-sanitize
lib/angular-simple-logger
lib/ionic
lib/jQuery.dotdotdot
lib/jquery
lib/ng-lodash
lib/ngCordova
