.leaflet-popup-content {
    margin-left: 11px;
    margin-top: 3px;
    margin-bottom: 3px;
    /* needs to be big enough to accomodate the X button*/
    margin-right: 18px;
    max-width: 215px;
}

.info-window {
    max-width: 205px !important;
    max-height: 100px;
    align-content: center;
    overflow: hidden;
}

.info-window h6 {
    margin: 2px !important;
}

.info-window p {
    margin: 2px !important;
}

.info-window-spinner {
    align-self: center !important;
}