<div class="modal image-modal" ng-class="backgroundAnimation">
    <i class="icon ion-close modal-close" ng-class="imageAnimation" ng-click="closeModal()"></i>
    <ion-scroll class="zoom-scroll" zooming="true" direction="xy" delegate-handle="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false" height="100%" >
        <img ng-src="{{imageSrc}}" class="fullscreen-image" on-double-tap="doubleTap($event)" ng-class="imageAnimation"/> 
    </ion-scroll>
    
    
<!--    TODO: pull this down from the server, or remove it.-->
    <div class="image-modal-text" ng-class="imageAnimation">
        <p class="image-title">
            {{imageTitle}}
        </p>
        <p class="image-description">
            {{imageDescription}}
        </p>
        
    </div>
    
</div>