@keyframes fade-in-frost {
    from {background: transparent;}
    to {background: rgba(0,0,0,0.9);}
}

.frost-appear{
  animation-name: fade-in-frost;
  animation-duration: 1s;
  background: rgba(0,0,0,0.9)
}

@keyframes fade-out-frost {
    from {background: rgba(0,0,0,0.9);}
    to {background: transparent;}
}

.frost-disappear{
  animation-name: fade-out-frost;
  animation-duration: 1s;
  background: rgba(0,0,0,0)
}

@keyframes fade-in-complete{
  from{opacity: 0;}
  to{opacity:1;}
}

.fade-appear{
    animation-name: fade-in-complete;
    animation-duration: 1s;
    opacity:1;
}

@keyframes fade-out-complete{
  from{opacity: 1;}
  to{opacity:0;}
}

.fade-disappear{
    animation-name: fade-out-complete;
    animation-duration: 1s;
    opacity:0;
}

@keyframes pulse-in-out {
    0% {opacity: 1;}
    50%{opacity:0.5;}
    100%{opacity: 1;}
}

.pulse{
    animation-name: pulse-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
