a {
  color: black;
  text-decoration: none; /* no underline */
}

.side-menu{
    z-index: 9;
    width: 275px;
    left:-275px;
    height:100%;
    position:absolute;
    background-color: white;
}

ion-nav-view{
    background-color: white;
}

.platform-android ion-nav-view{
    background: url(/android_asset/www/img/BG1.jpg);    
}

.platform-browser ion-nav-view{
    background: url(/img/BG1.jpg);    
}

.tab-nav {
    border-width: 0 !important;
}

.filter-icon{
    padding-left: 6px;
    padding-right: 6px;
}

.filter-bar{
    margin-left:5px;
    margin-right:5px;
    padding: 0px !important;
}



.pane{
    background-color: transparent;
}
.info-window {
    width: 175px;
    max-width: 175px !important;
    align-content: center;
}

.info-window-spinner{
    align-self: center !important;
}
.inline-spinner svg{
    height:16px;
    width:16px;
}

.media-button {
    font-size:30px !important;
}

.media-content {
    padding-left: 7px;
    padding-right: 7px;
}

.popover {
    height: auto !important;
    width:70% !important;
}
.popover ion-header-bar {
    position: relative;
}
.popover ion-content {
    top: 0;
    position: relative;
}

overscroll-pane {
  background-color: transparent !important;
  height: 100%;
}


.zoom-scroll {
    height:100%;
}


.transparent {
  background: transparent !important;
}

.bumpdown {
  padding-top: 45%;
  margin-bottom: 0%;
}

.display-card {
  border-radius: 2px;
  margin-left:20px;
  margin-right:20px;
  margin-top:10px;
  margin-bottom:10px;
  background-color: #EEEEEE;
    padding:10px;
  box-shadow: 0px 2px 10px #111111;
}

.edge-to-edge{
    padding-left:0px !important;
    padding-right:0px !important;
}

.padded-title{
  margin-left:20px;
  margin-right:20px;
  margin-top:10px;
  margin-bottom:10px;
}

.landmark-listing {
    padding:4px;
    width:100%;
    border-bottom-color: silver;
    border-bottom-width: 1px;
    border-style:solid;
}

.list-control {
    padding:14px;
    width:100%;
}

.list-item-div {
    padding:14px;
    border-bottom-color: silver;
    border-bottom-width: 1px;
    border-style:solid;
}

.list-item-title {
    width:100%;
    font-size: 14px;
    color:#222;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

.list-item-subtitle {
    width:100%;
    font-size: 10px;
    color:grey;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

.list-item-distance{
    font-size: 10px;
    color:grey;
    float:right;
}

.audio-button {
    float:right;
    margin-right:7px;
    margin-left:7px;
}

.description-title {
    float:left;
}

.image-modal {
  height: 100%;
}

.zoom-scroll {
    height:100%;
}
.zoom-scroll .scroll{
    min-height: 100% !important;
	align-items: center;
    background-color:transparent;
}

.modal-close {
    position:absolute;
    right:0;
/*    Make this clickable*/
    z-index:30;
    color:darkgray;
    font-size: 32px;
}

.fullscreen-image {
    position:relative;top:50%; transform: translateY(60%);
    width: 100%;
}
