/* Empty. Add your own CSS if you like */

.info-window {
    width: 175px;
    max-width: 175px !important;
    align-content: center;
}

.info-window a {
  color: black;
  text-decoration: none; /* no underline */
}
.info-window-spinner{
    align-self: center !important;
}

.media-button {
    font-size:30px !important;
}

.media-content {
    padding-left: 7px;
    padding-right: 7px;
}

.popover {
    height: auto !important;
    width:70% !important;
}
.popover ion-header-bar {
    position: relative;
}
.popover ion-content {
    top: 0;
    position: relative;
}

overscroll-pane {
  background-color: transparent !important;
  height: 100%;
}


.zoom-scroll {
    height:100%;
}


.transparent {
  background: transparent !important;
}

.bumpdown {
  padding-top: 45%;
  margin-bottom: 0%;
}

.display-card {
  border-radius: 2px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:20px;
  padding-left: 10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:5px;
  background-color: #EEEEEE;
  box-shadow: 0px 2px 10px #111111;
}

.audio-button {
    float:right;
    margin-right:7px;
    margin-left:7px;
}

.description-title {
    float:left;
}

.image-modal {
  height: 100%;
}

.zoom-scroll {
    height:100%;
}
.zoom-scroll .scroll{
    min-height: 100% !important;
	align-items: center;
    background-color:transparent;
}

.fullscreen-image {
    position:relative;top:50%; transform: translateY(60%);
    width: 100%;
}
