<ion-view view-title="About" >

  <ion-content padding="true">
    <div class="display-card">
    <p>
      This app is still in development.<br />
      Once it's done, this page will tell you about the team that put the
      application together and the idea behind it. It will have paragraphs. It
      will have descriptions. It will be the best about page ever<br />
    </p>

    <h1 class="title">Junk and Garbage</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis
      nibh sed fringilla posuere. Nam et orci laoreet, tincidunt justo in,
      maximus risus. Proin eget tortor in libero posuere malesuada at eget
      quam. Pellentesque tempus dignissim posuere. Praesent velit nulla, varius
      nec pharetra et, viverra quis mi. Praesent luctus eu neque non iaculis.
      Suspendisse a libero feugiat, dictum nunc non, blandit ex. Pellentesque
      habitant morbi tristique senectus et netus et malesuada fames ac turpis
      egestas.<br />
    </p>
    <p>
      In tortor arcu, sodales eu lectus nec, dictum tincidunt lacus. Donec
      vitae nisi ut diam molestie mollis a ut turpis. Etiam eget ullamcorper
      sapien. Duis consectetur, elit quis interdum tincidunt, augue velit
      pulvinar ipsum, in rutrum sem justo in leo. Aenean ultricies arcu lorem,
      et iaculis tellus rutrum quis. Nullam non ligula consectetur, faucibus
      sapien ut, ullamcorper lorem. Etiam consectetur sagittis eros, eu egestas
      nisi luctus convallis. Praesent vel massa a neque blandit malesuada.
      Pellentesque lacinia ullamcorper arcu viverra sodales. Morbi vitae leo et
      mauris sollicitudin efficitur nec non risus. Fusce quis consequat ipsum.
      Donec cursus neque ac tellus rutrum, eu consectetur magna feugiat.
      Vivamus tristique, velit eu ullamcorper dignissim, eros velit maximus
      nibh, at imperdiet ligula risus ac metus.<br />
    </p>
    <p>
      Sed orci neque, tristique quis purus sed, sodales auctor arcu. Proin eros
      dui, maximus in vehicula id, volutpat eget orci. Suspendisse sed purus
      laoreet purus sodales vehicula nec in justo. Praesent mattis, lorem sed
      molestie pharetra, nisl neque elementum velit, in convallis diam massa id
      ligula. Curabitur tincidunt scelerisque pulvinar. Cras venenatis in ipsum
      porttitor ullamcorper. Aenean sed neque id ex efficitur semper aliquam a
      ipsum.<br />
    </p>
      </div>
  </ion-content>

</ion-view>
