<ion-view view-title="Manage Caching">
    <ion-content>
        <div class="display-card">
            <div class="list" style="font-family:sans-serif;">
                <div class="list-item-div" shown-list-item-div>
                    <async-toggle style="float:right" changing="mapCacheStatus.working" active="mapCacheStatus.cacheEnabled" switch-on="mapCacheOn" switch-off="mapCacheOff"></async-toggle> 
                    {{strings.explanationMapCache}}
                </div>
                
                
                
                <div class="list-item-div" shown-list-item-div>
                    <async-toggle style="float:right" changing="cacheStatus.working" active="cacheStatus.cacheEnabled" switch-on="cacheOn" switch-off="cacheOff"></async-toggle>
                    {{strings.explanationItemCache}}
                </div>
                
                
                <div class="list-item-div" shown-list-item-div ng-class="cacheStatus.cacheEnabled?'':'disabled-grey'">
                    <div ng-click="settings.showLandmarks=cacheStatus.cacheEnabled && !settings.showLandmarks">
                        <i class="icon" ng-class="settings.showLandmarks?'ion-arrow-down-b':'ion-arrow-right-b'"></i> {{strings.stateNameLandmarks}} 
                    </div>
                    <div class="list-item-div list-item-indent" shown-list-item-div ng-if="settings.showLandmarks" ng-repeat="landmark in landmarks track by $index" ng-click="landmarkCached(landmark)?clearLandmark(landmark):cacheLandmark(landmark)">
                        <div class="list-item-title"> 
                            <i class="icon" style="float:right;" ng-class="landmarkCached(landmark)?'ion-trash-b':'ion-arrow-down-a'"></i> {{landmark.name}} 
                        </div>
                    </div>
                </div>
                <div class="list-item-div" shown-list-item-div ng-class="cacheStatus.cacheEnabled?'':'disabled-grey'">
                    <div ng-click="settings.showTours=cacheStatus.cacheEnabled && !settings.showTours">
                        <i class="icon" ng-class="settings.showTours?'ion-arrow-down-b':'ion-arrow-right-b'"></i> {{strings.stateNameTours}}
                    </div>
                    <div class="list-item-div list-item-indent" shown-list-item-div ng-if="settings.showTours" ng-repeat="tour in tours track by $index" style="padding-right:0px;">
                        <i class="icon" style="float:right;" ng-class="tourCached(tour)?'ion-checkmark':'ion-arrow-down-a'" ng-click="tourCached(tour)?undefined:cacheTourLandmarks(tour)"></i>
                        <div class="list-item-title" ng-click="expandedTours[$index]=!expandedTours[$index]">
                            <i class="icon" ng-class="expandedTours[$index]?'ion-arrow-down-b':'ion-arrow-right-b'"></i> {{tour.name}} 
                            <span class="italic">({{cachedLandmarkCount(tour)}}/{{tour.landmarks.length}})</span> 
                        </div>
                        
                        <div class="list-item-div list-item-indent" shown-list-item-div ng-if="expandedTours[$parent.$index]">
                            <div class="list-item-title" ng-click="directionsCached(tour)?clearDirections(tour):cacheDirections(tour)">
                                <i class="icon" style="float:right;" ng-class="directionsCached(tour)?'ion-trash-b':'ion-arrow-down-a'"></i> Directions 
                            </div>
                        </div>
                        
                        <div class="list-item-div list-item-indent" shown-list-item-div ng-repeat="landmark in tour.landmarks track by $index" ng-if="expandedTours[$parent.$index]">
                            <div class="list-item-title" ng-click="landmarkCached(landmark)?clearLandmark(landmark):cacheLandmark(landmark)">
                                <i class="icon" style="float:right;" ng-class="landmarkCached(landmark)?'ion-trash-b':'ion-arrow-down-a'"></i> {{landmark.name}} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>