<ion-view view-title="Landmarks" >


    <ion-content>
        <div class="display-card">
            <marker-map map-handle="mapHandle" center="mapInfo.center" zoom="mapInfo.zoom">
                <marker id='{{landmark.id}}' position="{{[landmark.location.lat,landmark.location.lng]}}" ng-repeat="landmark in landmarks" ng-if="showLandmark(landmark)" on-click="markerClicked(landmark, id)" clickable="true"> </marker>
                <user-location-marker></user-location-marker>
                <info-window id="infoWindow">
                    <simple-info-window landmark="clickedLandmark">
                    </simple-info-window>
                </info-window>
                
          </marker-map>
        </div>
        <div class="display-card">
            
            <div class="item item-input filter-bar">
                <input type="search" placeholder="Filter by title..." ng-model="filter.text">
                <i class="icon ion-close filter-icon" ng-class="filter.text?'':'placeholder-icon'"
                   ng-click="filter.text=''"></i>
            </div>
            
            <div class="list">
                
                <list-loader loading-msg="loadingMsg"></list-loader>
                
                <div class="list-item-div clearfix"  ng-repeat="landmark in landmarks"
                  ng-click="go(landmark)" ng-if="showLandmark(landmark)">
                    <img class="list-item-thumb "ng-src="{{landmark.images[0]}}" align="left">
                    <div>
                        <div class="list-item-distance" ng-if="displayDistance(landmark)">
                            {{displayDistance(landmark)}}km
                        
                        </div>
                        <div class="list-item-title">
                            {{landmark.name}}
                        </div>
                    </div>
                    <div class="list-item-subtitle" style="max-height:30px;margin-top:5px;" dotdotdot>
                            {{landmark.description[0]}}
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </ion-content>
    
</ion-view>
