<ion-view view-title="Landmark">
  <ion-pane>
      
<!--      Image displayed behind the tab contents-->
    <ion-content class="has-header has-tabs-top">
      <img ng-src="{{landmark.images[0]}}" width="100%"/>
    </ion-content>

      <ion-tabs class="tabs-balanced tabs-icon-top" delegate-handle="landmark-tabs-delegate">

        <ion-spinner class="spinner-stable" icon="spiral" ng-if="loading"></ion-spinner>


        <ion-tab title="Description" icon="ion-android-list" ng-if="landmark.description">
          <overscroll-pane>
            <div class="display-card">

              <h3 class="title">
                <button class="button button-icon ion-volume-high audio-button"
                        ng-click="playAudio()">
                </button>
                  <div style="description-title">{{landmark.name}}</div>
              </h3>
              <p ng-repeat="paragraph in landmark.description">
                {{paragraph}}<br />
              </p>
            </div>
          </overscroll-pane>
        </ion-tab>

        <ion-tab title="Images" icon="ion-android-image" ng-if="landmark.images">
          <overscroll-pane>
            <div class="display-card">

              <div class="row" ng-repeat="image in landmark.images" ng-if="$index % 2 === 0">
                <div class="col col-50" ng-if="$index < landmark.images.length">
                    <img ng-src="{{landmark.images[$index]}}" width="100%"
                    ng-click="display(landmark.images[$index])"/>
                </div>
                <div class="col col-50" ng-if="$index + 1 < landmark.images.length">
                    <img ng-src="{{landmark.images[$index + 1]}}" width="100%"
                    ng-click="display(landmark.images[$index +1])"/>
                </div>
              </div>
            </div>
          </overscroll-pane>
        </ion-tab>

        <ion-tab title="Map" icon="ion-android-pin" ng-if="landmark.location">
          <overscroll-pane>
            <div class="display-card">                
                <marker-map map-handle="mapHandle" zoom="mapInfo.zoom">
                    <marker position="{{[landmark.location.lat,landmark.location.lng]}}" clickable="false" centered="true"> </marker>
                    <user-location-marker></user-location-marker>

                </marker-map>
            </div>
          </overscroll-pane>
        </ion-tab>

      </ion-tabs>

    </ion-pane>
</ion-view>
