<ion-view view-title="Landmarks">
    <ion-content>
        <div class="display-card">
            <marker-map map-handle="mapHandle" map-info="mapInfo" map-markers="markers"> </marker-map>
        </div>
        <div class="display-card">
            <div class="filter-area">
                <div class="select-style">
                    <select ng-model="filter.tag" ng-change="applyFilter()">
                        <option ng-repeat="tag in tags">{{tag}}</option>
                    </select>
                    <i class="icon ion-pricetag" ng-class="(filter.tag==='Show all')?'disabled-grey':'enabled-black'"></i>
                </div>
                <div class="item item-input filter-bar">
                    <input type="text" placeholder="Filter by title..." ng-model="filter.text">
                    <i class="icon ion-close filter-icon" ng-class="filter.text?'':'placeholder-icon'" ng-click="clearFilter()"></i> 
                </div>
            </div>
            <div class="list">
                <list-loader loading-msg="loadingMsg" error-msg="errorMessage" refresh="refresh"></list-loader>
                <div class="list-item-div clearfix" ng-repeat="landmark in landmarks track by $index" ng-click="go(landmark)" ng-class="showLandmark(landmark)&&$index<numListItems?'shown-list-item-div':''">
                    <img class="list-item-thumb" ng-src="{{landmark.images[0].thumb}}" align="left">
                    <div>
                        <div class="list-item-distance" ng-if="displayDistance(landmark)">
                            {{displayDistance(landmark)}}km
                        </div>
                        <div class="list-item-title">
                            {{landmark.name}}
                        </div>
                    </div>
                    <div class="list-item-subtitle" dotdotdot ng-bind-html="landmark.description"> </div>
                </div>
                <ion-infinite-scroll ng-if="numListItems<landmarks.length" on-infinite="displayMore()" distance="10%"> </ion-infinite-scroll>
            </div>
        </div>
    </ion-content>
</ion-view>