<ion-header-bar class="bar-balanced" align-title="left">

    <button class="button button-icon button-clear menu-button" ng-class="menuMode?'ion-navicon':'ion-chevron-left'"
            ng-click="navButtonClick()">
    </button>
  <h1 class="title">{{navBarTitle}}</h1>
  <!-- TODO share button -->
    <button ng-show="media.hasTrack" class="button button-icon button-clear ion-volume-high"
            ng-class="media.isPlaying?'pulse':'pulse-idle'"
          ng-click="audioButtonClick($event)" ng-cloak>
    </button>
</ion-header-bar>
<ion-nav-view name="mainContent"></ion-nav-view>

<div on-drag="onDrag($event)" on-drag-start="onDragStart($event)" on-drag-end="onDragEnd($event)" class="side-menu has-header" ng-style="menuStyle">
  <div class="list side-menu-list" ng-style="listStyle">
    <ion-item  ng-repeat="menuItem in menuItems"
      ng-click="menuItemClick(menuItem)">
      {{menuItem.displayName}}
    </ion-item>
  </div>
</div>
