<ion-view view-title="Story">
  <ion-pane>
    <img ng-src="{{story.images[0]}}"/>

  <ion-tabs class="tabs-balanced tabs-icon-top" delegate-handle="story-tabs-delegate">

    <ion-spinner ng-if="!story"></ion-spinner>

    <ion-tab title="Description" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ng-if="story.description">
      <ion-pane>
        <ion-content>

        </ion-content>
      </ion-pane>
    </ion-tab>

    <ion-tab title="Images" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ng-if="story.images">
      <ion-pane>
        <ion-content>

        </ion-content>
      </ion-pane>
    </ion-tab>

    <ion-tab title="Audio" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ng-if="story.audio">
      <ion-pane>
        <ion-content>

        </ion-content>
      </ion-pane>
    </ion-tab>

    <ion-tab title="Map" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ng-if="story.location">
      <ion-pane>
        <ion-content>

        </ion-content>
      </ion-pane>
    </ion-tab>

  </ion-tabs>
</div>
</ion-pane>
</ion-view>
