<ion-view view-title="Stories" >


    <ion-nav-view name="stories" class="has-header has-footer"></ion-nav-view>


  <ion-footer-bar align-title="left" class="bar-stable">

    <table style="width:100%">
      <tr>
        <td>
          <a href="#/app/stories/map" class="button button-outline button-balanced"
                  width="100%">
            Map
          </a>
        </td>
        <td>
          <a href="#/app/stories/list" class="button button-outline button-balanced"
                  width="100%">
            List
          </a>
        </td>
      </tr>
    </table>

  </ion-footer-bar>
</ion-view>
