<ion-view view-title="Tours">
    <ion-content>
        <div class="display-card">
            <div class="filter-area">
                <div class="item item-input filter-bar">
                    <input type="search" placeholder="Filter by title..." ng-model="filter.text">
                    <i class="icon ion-close filter-icon" ng-class="filter.text?'':'placeholder-icon'" ng-click="filter.text=''"></i>
                </div>
            </div>
            <div class="list">
                <div class="list-item-div" ng-repeat="tour in tours" ng-click="go(tour)" ng-attr-shown-list-item-div="{{showTour(tour)||undefined}}">
                    <div class="list-item-title">
                        <div class="list-item-distance" ng-if="displayDistance(tour)">
                            {{displayDistance(tour)}}km
                        </div>
                        <div ng-bind-html="tour.name"></div>
                    </div>
                    <div class="list-item-subtitle" ng-bind-html="tour.description"></div>
                </div>
                <list-loader loading-msg="loadingMsg" error-msg="errorMsg" refresh="refresh"></list-loader>
                <ion-infinite-scroll class="infinite-scroll-no-spinner" ng-if="hasNextPage" on-infinite="getNextPage()" distance="30%" immediate-check="false">
                </ion-infinite-scroll>
            </div>
        </div>
    </ion-content>
</ion-view>